<html>
    <body>
        <form method="POST" action="/articles">
          <div>
              <label>Address</label>
              <input type="text" name="title"></input>
          </div>
          <div>
              <label>Phone Number</label>
              <input type="text" name="content"></input>
          </div>
          <input type="submit" id="Submit" />
    </body>
</html
