<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Article Submission</title>
  </head>
  <body>
    <form action="/articles" method="POST">
      <p>Title: <input type="text" name="title"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
